
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#FC5E55, #FA4083);
    background-repeat: no-repeat;
    background-size: cover;
     height: 100%;
} 
li{
    list-style: none;
}

/*----------------------------------*/
/*------------HEADER----------------*/
/*----------------------------------*/
 .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 25px;
    color: white;
    font-size: 1.2rem;
}
.container a{
    display: block;
    text-decoration: none;
    color: white;
    padding: .5rem; 
}
.con span{
    background-color: blue;
}
.con i{
    font-size: 2rem;
}
form{
    padding: 15px 20px 0 0 ;
}
button{
    background-color: turquoise;
    padding: 2px 4px; 
    border: 2px solid turquoise;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 197, 177);
    border: 2px solid rgb(0, 197, 177);
}
    
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    width: 165.5px;
    height: 41px;
    padding-left: 10px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white; 
     padding: .5rem;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    transition: background-color .3s;
} 

 .navbar-links li a:hover {
    background-color: rgb(240, 9, 9);
    border: 1px solid rgb(240, 9, 9);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*----------------------------------*/
/*------------MAIN----------------*/
/*----------------------------------*/
.flexbox-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grp-book{
   max-width: 100%;
   height: auto;
}


.flexbox-1 a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: background-color .3s;
    
}

.flexbox-1 p{
    color: white;
   
}


.flexbox-1 a:hover{
    background-color: rgb(248, 37, 0);
    border: 1px solid rgb(248, 37, 0);
}
.owner{
    text-align: center;
    padding: 5rem;
}
.ownerpic{
    max-width: 200px;
   height: auto;
}

/*------------GRID----------------*/
.grid{
    position: relative;
    top: 1rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: 1fr;
   
}
.book{
    position: relative;
    width: 280px;
    height: auto;
    top: 1rem;
    
    
}

.grid-itm{
    text-align: center;
    /* min-width: 220px; */
    min-height: 240px;
    background-color: cadetblue;
}
.grid-itm a{
    text-decoration: none;
    color: white;
    transition: color .25s;
    
}
.grid-itm a:hover{
    color: green;
}

.grid-itm p{
    color: white;
    font-size: 1.3rem;
    min-width: 70px;
    display: flex;
    padding: 0 5px;
    justify-content: space-around;
    border: 3px solid white;
}

/*----------------------------------*/
/*------------SECTION----------------*/
/*----------------------------------*/
section{
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: rgb(245, 220, 220);
    min-height: 200px;
   
}
  
.grid-2{
    position: relative;
    left: 1rem;
    
   
}

.chek{
    color: green;
    text-decoration: none;
}

.chek:hover{
    border-bottom: 1px solid green;
}

/*----------------------------------*/
/*------------RESPONSIVE----------------*/
/*----------------------------------*/

/*------------screen 765----------------*/


/*------------screen 850----------------*/
@media (max-width: 850px) {
    .container form label, input{
        display: none;
    } 
    .container form button{
        position: relative;
        top: .5rem;
        background-color: cornsilk;
        padding: 5px 5px;
        border: 1px solid cornsilk;
       
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(69, 69, 202);
       
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 10px;
        margin: 5px;
        border: none;
    }

    .navbar-links li a:hover{
        background-color: rgb(47, 47, 221);
        border: 1px solid rgb(47, 47, 221);

    }

    .navbar-links.active {
        display: flex;
    }

} 

/*------------flexbox-1----------------*/
/*------------screen 1135----------------*/
@media (max-width: 1145px){
    .flexbox-1{
        justify-content: center;
    }

}


/*-----------Section--------*/

@media (max-width: 400px){
    .grid-2{
        position: static; 
    }
   
}